body{
	background-color:#eeeeee;
	
}
input{
	font-size: 48px; 
	width: 10em;
	display:block;
	margin: 0 auto;
	border-bottom:20px;
	color:#cec7d8;
}
h1{
	font-size:100px;
	text-align:center;
	color:#cec7d8;
}
#button{
	text-align:center;
	
}
.list{
	text-align:center;
}