body{
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:rgb(245, 245, 245);
	line-height: 1.4em;
    font-weight: 300;
}

h1{
	text-align:center;
	text-decoration:'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-weight:100;
	font-size:100px;
    color: rgba(175, 47, 47, 0.15);
	display:block;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}

input{
	
	font-size: 48px; 
	width: 10em;
	display:block;
	margin: 0 auto;
	color:#cec7d8;
	border:0;
}

ul{
	
	display:block;
}

#todo-list{
	text-align:center;
    border: none;
    background: rgba(0, 0, 0, 0.003);
	width:440px;
	height:100px;
	margin:0 auto;
	list-style:none;
}

#todo-list li{
	font-size:24px;
	border-bottom: 1px solid #ededed;
	height:40px;
	text-align:center;
	background-position:center;
}

li{
	display:list-item;
	list-style:inherit;
	background-color:white;
	
	
}

::-webkit-input-placeholder {
   color: gray;
   opacity:0.2;
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.4em;
   font-size:30px;
   font-style:italic;
   text-align:center;
}
p{
	margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
	text-decoration:none;

}