body{
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color:rgb(245, 245, 245);
	line-height: 1.4em;
    font-weight: 300;
	text-align:center;
	display:block;
}
header{
	background-color: #009494;
	
}

section{
	background-color:#33947c;
	
}

footer{
	background-color:#004a94;
}

h1{
	
	text-decoration:'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-weight:100;
	font-size:100px;
    color: rgba(175, 47, 47, 0.15);
	display:block;
	-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
}

input {
	font-size: 3em; 
	width: 10em;
	display:inline-block;
	color:#cec7d8;
	border:0;
	padding:16px;
	padding-bottom:0;
	
}

::-webkit-input-placeholder {
   color: gray;
   opacity:0.2;
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.4em;
   font-size:25px;
   font-style:italic;
   
 }

 textarea:focus, input:focus {
    color: #black;
	outline:0;
}

input, select, textarea{
    color: #000;
	outline:0;
}
 
#checkbox{
	outline:0;
	width:10px;
	height:10px;
}

li{
	display:list-item;
	background-color:white;
	font-size: 2em; 
	width: 420px;;
	border-bottom:1px solid #ededed;
	height:40px;
	list-style:none;
	margin-left:473px;
}


section #todo-app{
	display:block;
}






main{
	text-align:center;
}

p{
	margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
	text-decoration:none;

}
*{
  margin: 0;
  padding: 0;
  outline: none;
	border: none;
	box-sizing: border-box;
}